extends Layout_2_Profile_View

block title
    title #{title}

block navbar
    include navbar
    
block sidebar
    .employer-sidebar
      .user-info
        br
        img#profile-pic(src='/images/Building-vector.jpg', alt='profile pic')
        h4
          strong Google
        p someone@example.com
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href='#')
            | Posted Jobs
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href=employer.postJob_url)
            | Post a Job
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href=employer.url)
            | Profile
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href='/employer/logout')
            | Log Out
            span.glyphicon.glyphicon-chevron-right.pull-right

block content
    .postedjobs-panel
      h2
        strong Posted Jobs
      br
      if postedJobs
          each job in postedJobs
             .job-post
                h3 #{job.name}
                .row
                  .col-xs-9
                    p
                      small Period: #{job.date_start_formatted} - #{job.date_end_formatted}
                  .col-xs-3.salary
                    p $#{job.remun}/hr
                hr
                // job description
                p
                  | #{job.desc}
                br
                br
                a.btn.btn-info(href=job.viewApplicantsURL, role='button')
                  | View Applicants 
                  span.badge #{job.applicants.length}
                button.btn.btn-danger.pull-right Remove Post
              br
        else
            p No posted jobs!