extends dashboard_layout

block title
    title #{title}
    
block navbar
    include navbar_employer

block sidebar
    .employer-sidebar
      .user-info
        br
        img#profile-pic(src='/images/employer-default-profile-pic.png', alt='profile pic')
        h4
          strong #{employer.name}
        p #{employer.email}
      ul.nav.nav-pills.nav-stacked
        li
          a(href=employer.postedJobs_url)
            | Posted Jobs
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href=employer.postJob_url)
            | Post a Job
            span.glyphicon.glyphicon-chevron-right.pull-right
        li.active
          a(href=employer.url)
            | Profile
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href='/')
            | Log Out
            span.glyphicon.glyphicon-chevron-right.pull-right

block content
    .profile-panel
      h2
        strong Profile
      br
      .profile-details
        br
        img#profile-pic.image-rounded(src='/images/employer-default-profile-pic.png', alt='profile pic')
        br
        // upload profile pic
        button.btn.btn-primary.upload-file-btn
          | Upload Photo
        br
        form.form-horizontal
          .form-group.row
            label.col-xs-3.control-label(for='name') Company/Project Name
            .col-xs-8
              input#name.form-control(type='text', value=employer.name)
          .form-group.row
            label.col-xs-3.control-label(for='email') Email
            .col-xs-8
              input#email.form-control(type='email', value=employer.email)
          .form-group.row
            label.col-xs-3.control-label(for='aboutme') About the Company/Project
            .col-xs-8
              textarea#aboutme.form-control(rows='5', maxlength='500')
                if (employer.about)
                    | #{employer.about} 
              small Max length: 500 words
          br
          button.btn.btn-primary.btn-block
            | Update Profile