extends Layout_2_Profile_View

block title
    title #{title}

block navbar
    include navbar
    
block sidebar
    .employer-sidebar
      .user-info
        br
        if (image)
          img#profile-pic1(src='/uploads/#{image.file_name}', alt='profile pic')
        else
          img#profile-pic1(src='/images/Building-vector.jpg', alt='profile pic')
        h4
          strong #{employer.name}
        p #{employer.email}
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href=employer.postedJobs_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.app Posted Jobs
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href=employer.postJob_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.favs Post a Job
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href=employer.url)
            div.miniContainers
              img#star(src='/images/profile.png', alt='profile')
              p.prof Profile
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href='/logout_employer')
            div.miniContainers
              img#star(src='/images/arrow.png', alt='logout')
              p.Log Log Out
              span.glyphicon.glyphicon-chevron-right.pull-right

block content
    .postedjobs-panel
      h2
        strong Posted Jobs
      br
      if postedJobs
          each job in postedJobs
             .job-post
                .row
                  .col-xs-9.desc_justify
                    h2.job-name #{job.name} 
                    p
                      small.time-frame 
                        strong Working period: 
                        | #{job.date_start_formatted} - #{job.date_end_formatted}
                    p
                    | #{job.desc} 
                  .col-xs-3
                    div.wrapper 
                      div.wrapper_deep $#{job.remun}/hr
                hr
                a.btn.btn-info.noApp(href=job.viewApplicantsURL, role='button')
                  | View Applicants 
                  span.badge #{job.applicants.length}
                a.btn.edit_post_btn(href=job.editJob_url, role='button')
                  | Edit Job post
                button.btn.btn-danger.pull-right Remove Post
              br
        else
            p No posted jobs!