extends Layout_2_Profile_View

block title
    title #{title}
    
block navbar
    include navbar

block sidebar
    .employer-sidebar
      .user-info
        br
        img#profile-pic(src='/images/Building-vector.jpg', alt='profile pic')
        h4
          strong #{employer.name}
        p #{employer.email}
      ul.nav.nav-pills.nav-stacked
        li
          a(href=employer.postedJobs_url)
            | Posted Jobs
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href=employer.postJob_url)
            | Post a Job
            span.glyphicon.glyphicon-chevron-right.pull-right
        li.active
          a(href=employer.url)
            | Profile
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href='/logout_employer')
            | Log Out
            span.glyphicon.glyphicon-chevron-right.pull-right

block content
    .profile-panel
      h2
        strong Profile
      br
      .profile-details
        br

        if errors
          each error in errors
            div.alert.alert-danger #{error.msg}

        if success_msg
          div.alert.alert-success #{success_msg}

        br
        img#profile-pic1(src='/images/Building-vector.jpg', alt='profile pic')
        br
        // upload profile pic
        button.btn.btn-primary.upload-file-btn
          | Upload Photo
        br
        form.form-horizontal(method='POST' action='')
          .form-group.row
            label.col-xs-3.control-label(for='company_name') Company Name
            .col-xs-8
              input#name.form-control(type='text', value=(undefined==employer ? '' : employer.name), name='company_name')

          .form-group.row
            label.col-xs-3.control-label(for='email') Email
            .col-xs-8
              input#email.form-control(type='email', value=employer.email, name='email' disabled)

          .form-group.row
            label.col-xs-3.control-label(for='aboutme') About Me
            .col-xs-9.bzz
              textarea#aboutme.form-control(rows='5', maxlengths='500', name="aboutme") #{employer.aboutme}
              p.brr Max length: 500 words
          br
          input.btn.update_button(type='submit', value='Update Company Info')