extends Layout_2_Profile_View

block title
    title #{title}
    
block navbar
    include navbar

block sidebar
    .employer-sidebar
      .user-info
        br
        div.profile_div
        if (image)
          img#profile-pic1(src='/uploads/#{image.file_name}', alt='profile pic')
        else
          img#profile-pic(src='/images/Building-vector.jpg', alt='profile pic')
        h4
          strong #{employer.name}
        p #{employer.email}
      ul.nav.nav-pills.nav-stacked
        li.side
          a(href=employer.postedJobs_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.app Posted Jobs
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href=employer.postJob_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.favs Post a Job
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.active
          a(href=employer.url)
            div.miniContainers
              img#star(src='/images/profile.png', alt='profile')
              p.prof Profile
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href='/logout_employer')
            div.miniContainers
              img#star(src='/images/arrow.png', alt='logout')
              p.Log Log Out
              span.glyphicon.glyphicon-chevron-right.pull-right

block content
    .profile-panel
      h2.edit-profile Edit Profile
      .profile-details
        if (err_update)
          for error in err_update
            .error_wrapper1
              .alert.alert-danger #{error.msg} 
        if (status)
          div.alert.alert-success Your profile has been successfully updated!
        br
        .basic-header Basic Information
        div.profile_div
          if (image)
            img#profile-pic1(src='/uploads/#{image.file_name}', alt='profile pic')
          else
            img#profile-pic1(src='/images/Building-vector.jpg', alt='profile pic')
        br
        form.form-horizontal(method='POST' action='' enctype='multipart/form-data')
          .form-group.row
            label.col-xs-4.control-label(for='aboutme') Upload Profile picture
            .col-xs-8   
              input.profile_upload(type='file' name='filename')
              p.filename_text please upload a square photo to prevent stretching!
          .form-group.row
            label.col-xs-4.control-label(for='company_name') Company Name
            .col-xs-8
              input#name.form-control(type='text', value=(undefined==employer ? '' : employer.name), name='company_name')

          .form-group.row
            label.col-xs-4.control-label(for='email') Email
            .col-xs-8
              input#email.form-control(type='email', value=employer.email, name='email' disabled)

          .form-group.row
            label.col-xs-4.control-label(for='aboutme') About Me
            .col-xs-8.bzz
              textarea#aboutme.form-control(rows='5', maxlengths='500', name="aboutme") #{employer.aboutme}
              p.brr Max length: 500 words

          br
          input.btn.update_button(type='submit', value='Update Company Info')