extends Layout_2_Profile_View

block title
    title #{title}
    
block navbar
    include navbar 

block sidebar
    .employer-sidebar
      .user-info
        br
        div.profile_div
        if (image)
          img#profile-pic1(src='/uploads/#{image.file_name}', alt='profile pic')
        else
          img#profile-pic(src='/images/Building-vector.jpg', alt='profile pic')
        h4
          strong #{employer.name}
        p #{employer.email}
      ul.nav.nav-pills.nav-stacked
        li.side
          a(href=employer.postedJobs_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.app Posted Jobs
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.active
          a(href=employer.postJob_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.favs Post a Job
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href=employer.url)
            div.miniContainers
              img#star(src='/images/profile.png', alt='profile')
              p.prof Profile
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href='/logout_employer')
            div.miniContainers
              img#star(src='/images/arrow.png', alt='logout')
              p.Log Log Out
              span.glyphicon.glyphicon-chevron-right.pull-right

block content
    
    .postjob-panel
      h2
        strong Post a Job
      br
      
      // insert error messages

      .postjob
        if postedjob
          div.alert.alert-success #{jobposted}
        if errors
            .alert.alert-danger.box
                span.glyphicon.glyphicon-warning-sign
                p 
                    strong Error(s):
                ol
                    for error in errors
                        li!=error.msg + '&nbsp'
        br
        form.form-horizontal(method='POST' action='')
          .form-group.row
            label.col-xs-3.control-label(for='jobtitle')
              | Job Title
            .col-xs-8
              input#jobtitle.form-control(type='text', name='name', value=(undefined==job ? '' : job.name))   
          .form-group.row
            label.col-xs-3.control-label(for='jobdesc')
              | Job Description
            .col-xs-8
              textarea#jobdesc.form-control(rows='5', maxlength='1000', name='desc')
                if (job)
                    | #{job.desc}
              small
                i Max Length: 1000 words
          .form-group.row
            label.col-xs-3.control-label
              | Job Duration
            .col-xs-8.row
              .col-xs-5
                input.form-control(type='date', name='startDate', value=(undefined==job ? '' : job.startDate))
              .col-xs-2
                p#date-to to
              .col-xs-5
                input.form-control(type='date', name='endDate', value=(undefined==job ? '' : job.endDate))                
          .form-group.row
            label.col-xs-3.control-label
              | Remuneration 
              br
              | (lower limit)
            .col-xs-2
              input.form-control(type='number', name='remun', value=(undefined==job ? '' : job.remun))
              small SGD$
            .col-xs-2
              p#perhour per hour     
          .form-group.row
            fieldset
              label.col-xs-3.control-label Skills Required
              .col-xs-8.row.skills-list
                label.radio-inline(for='frontend')
                  input#frontend(type='radio',name='skill_type',value='Frontend',checked=((undefined==job) ? false : (job.skill_type=='Frontend' ? true : false))) 
                  |  Frontend
                label.radio-inline(for='backend')
                  input#backend(type='radio',name='skill_type',value='Backend',checked=((undefined==job) ? false : (job.skill_type=='Backend' ? true : false)))
                  |  Backend
                label.radio-inline(for='fullstack')
                  input#fullstack(type='radio',name='skill_type',value='Fullstack',checked=((undefined==job) ? false : (job.skill_type=='Fullstack' ? true : false)))
                  |  Fullstack  
          br
          div.postJobBtn
            input.btn.btn-primary#submitBtn(type='submit', value='Post Job')
          br
          
