extends dashboard_layout

block title
    title Favourites
    
block navbar
    include navbar_student
    
block sidebar
    .student-sidebar
      .user-info
        br
        .ProfileImage
          img#profile-pic(src='/images/man-team.png', alt='profile pic')
        h4.user-name
          strong #{student.name}
        .email
          strong #{student.email}
        label.verify Verified
      ul.nav.nav-pills.nav-stacked
        li.side
          a(href=student.applied_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.app Applied Jobs
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side.active
          a(href=student.favourites_url)
            div.miniContainers
              img#star(src='/images/star.png', alt='star') 
              p.favs Favourites
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href=student.url)
            div.miniContainers
              img#star(src='/images/profile.png', alt='profile')
              p.prof Profile
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href='/')
            div.miniContainers
              img#star(src='/images/arrow.png', alt='logout')
              p.Log Log out
              span.glyphicon.glyphicon-chevron-right.pull-right

block content
    .favourites-panel
      h2
        strong Favourites
      br
      .job-post
        // job title & company
        h3 Backend Web Developer @ XYZ
        .row
          .col-xs-9
            p
              small Period: 10 May 2017 - 20 August 2017
          .col-xs-3.salary
            p $9 /hr
        hr
        // job description
        p
          | Rely on your strong technical experience to oversee all the essential activities of a particular program, including planning, communications, and execution.
        br
        button.btn.btn-success Apply