extends Layout_1_Job_View

block title
	title 

block navbar
	include navbar_employer

block sidebar
	div.student_profile_sidebar
		div.header
			| Interested in this job? Apply now!
		div.apply_job
			.btn.apply_button Apply for this job
		br
		div.save_job
			p Not sure yet? Save it for later
			.btn.save_button Save this job
	
block content
	div.job-box
		div.job-title #{job.name} 
		div.job-Company #{employer.name}
		div.job-posted-date #{job.date_posted_formatted}
	br
	div.summary
		div.job-requirement #{job.skill_type}
		div.location Location
		div.job-hours Working hours/ Times a week
		div.expiry 1 month from posted date
	br
	div.fulldesc
		div.job-desc #{job.desc}