extends Layout_1_Job_View

block title
    job.name 

block navbar
    include navbar

block sidebar
    if user
        if status == 'notApplied'
            div.student_profile_sidebar
                div.header
                    | Interested in this job? Apply now!
                div.apply_job
                    button.btn.apply_button(type='button', data-toggle='modal', data-target='#confirmApply') Apply for this job
                div.modal.fade#confirmApply
                    div.modal-dialog
                        div.modal-content
                            div.modal-body
                                h3 Confirm application for #{job.name}?
                                p We will send your application to #{employer_poster.name}
                                br
                                button.btn#cancelBtn(type='button', data-dismiss='modal') Cancel
                                form#confirm(method='POST' action=job.url+'/apply')
                                    button.btn#confirmBtn(type='submit') Confirm   
                br
                div.save_job
                    if (fav == false)
                        p Not sure yet? Favourite this job for later
                        form(method='POST' action=job.url+'/addToFav')
                            button.btn.save_button(type='submit') Favourite this job
                    else if (fav == true)
                        p Looks like you have favourited this job!
                        form(method='POST' action=job.url+'/removeFromFav')
                          button.btn.save_button(type='submit') Remove job from favourites
                br
        else if status == 'deleteSuccess'
            // repeat of above since idk why jade dont let me put two conditions :<
            div.student_profile_sidebar
                div.header
                    | Interested in this job? Apply now!
                div.apply_job
                    button.btn.apply_button(type='button', data-toggle='modal', data-target='#confirmApply') Apply for this job
                div.modal.fade#confirmApply
                    div.modal-dialog
                        div.modal-content
                            div.modal-body
                                h3 Confirm application for #{job.name}?
                                p We will send your application to #{employer_poster.name}
                                br
                                button.btn#cancelBtn(type='button', data-dismiss='modal') Cancel
                                form#confirm(method='POST' action=job.url+'/apply')
                                    button.btn#confirmBtn(type='submit') Confirm   
                br
                div.save_job
                    if (fav == false)
                        p Not sure yet? Favourite this job for later
                        form(method='POST' action=job.url+'/addToFav')
                            button.btn.save_button(type='submit') Favourite this job
                    else if (fav == true)
                        p Looks like you have favourited this job!
                        form(method='POST' action=job.url+'/removeFromFav')
                          button.btn.save_button(type='submit') Remove job from favourites
        else
                div.student_profile_sidebar
                    button.btn.delete_button(type='button', data-toggle='modal', data-target='#confirmDelete') Delete Application
                    div.modal.fade#confirmDelete
                        div.modal-dialog
                            div.modal-content
                                div.modal-body
                                    p Are you sure you want to delete your application for #{job.name}?
                                    br
                                    button.btn#cancelBtn(type='button', data-dismiss='modal') Cancel
                                    form#confirm(method='POST' action=job.url+'/delete')
                                        button.btn#confirmBtn(type='submit') Confirm
                br
    else if employer._id == employer_poster._id
        div.employer_profile_sidebar
            div.header
                | Edit Job Post
            div.apply_job
                .btn.apply_button Click to edit
            br
    else 
        div.open_profile_sidebar
            div.header
                | Register/ Signup with us before applying!
            div.register
                a(href='/student/signup') Sign up here
            div.login
                a(href='/student/login') Log in now!
            br

block content
    if status == 'applySuccess'
        div.alert.alert-success
            strong Success! 
            | We have sent your application to #{employer_poster.name}
    else if status == 'deleteSuccess'
        div.alert.alert-warning
            strong We have deleted this job application!

    div.job-box
        div.job-title #{job.name} 
        div.job-Company #{employer_poster.name}
        div.job-posted-date #{job.date_posted_formatted}
    br
    div.summary
        div.job-requirement #{job.skill_type}
        div.location Location
        div.job-hours Working hours/ Times a week
        div.expiry 1 month from posted date
    br
    div.fulldesc
        div.job-desc #{job.desc}