div.navbar.navbar-inverse.transparent.navbar-static-top
  div.navbar-inner
    div.container
      .navbar-header  
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mainNavBar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') ADSOC      
      #mainNavBar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/searchPage') Find Jobs
        ul.nav.navbar-nav.navbar-right
          if store_User
            .dropdown
              button.btn.btn-default.dropdown-toggle.navbar-btn(type=' button', data-toggle='dropdown')
                div
                  span.glyphicon.glyphicon-user.logo
                  span.carretName #{user.name} 
                  span.caret  
              ul.dropdown-menu
                li 
                  a(href='/student/appliedJobs') Applied Jobs
                li
                  a(href='/student/favourites') Favourites
                li
                  a(href='/student/profile') Profile
                li.divider
                li
                  a(href='/logout_student') Log Out

          else if store_Emp
            .dropdown
              button.btn.btn-default.dropdown-toggle.navbar-btn(type=' button', data-toggle='dropdown')
                div
                  span.glyphicon.glyphicon-briefcase.logo
                  span.carretName #{employer.name} 
                  span.caret  
              ul.dropdown-menu
                li
                  a(href=employer.postedJobs_url) Posted Jobs
                li
                  a(href=employer.postJob_url) Post Jobs
                li
                  a(href=employer.url) Profile
                li.divider
                li
                  a(href='/logout_employer') Log Out     

          if !store_Emp
            if !store_User
              li
                a.signup(href='/student/signup') Sign up as a Student
              li
                a.signup(href='/employer/signup') Sign up as an Employer
              li
                a.signup(type='button', data-toggle='modal', data-target='#myModal') Log in as a Student
                #myModal.modal.fade(role='dialog')
                  .modal-dialog.modal-md
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal') 
                        h4.modal-title Log in as a Student
                      .modal-body
                        div.test
                          form.login(method='POST' action='/login_student')
                              .form-group
                                  label(for='username') Username:
                                  input#username.form-control(type='usr' name="username")
                              .form-group
                                label(for='pwd') Password:
                                input#pwd.form-control(type='password' name="password")
                              div.submitBtn
                                input.btn.btn-primary#submitBtn(type='submit', value='Log in')  
                              br
                              .forgot_information
                                a(href='') Forgot your password?
                                br
                      .modal-footer
                        p.footer_text Don't have an Account? 
                          span 
                            a(href='/student/signup') Sign up here!
              li
                a.signup(type='button', data-toggle='modal', data-target='#myModal_employer') Log in as an Employer
                #myModal_employer.modal.fade(role='dialog')
                  .modal-dialog.modal-md
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal') 
                        h4.modal-title Log in as a Employer
                      .modal-body
                        div.test
                          form.login(method='POST' action='/login_employer')
                              .form-group
                                label(for='username') Username:
                                input#username.form-control(type='usr' name="username")
                              .form-group
                                label(for='pwd') Password:
                                input#pwd.form-control(type='password' name="password")
                              div.submitBtn
                                input.btn.btn-primary#submitBtn(type='submit', value='Log in')
                              br  
                              .forgot_information
                                a(href='') Forgot your password?
                                br
  
                      .modal-footer
                        p.footer_text Don't have an Account? 
                          span 
                            a(href='/student/employer') Sign up here! 
