nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mainNavBar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') ADSOC      
    #mainNavBar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='/searchPage') Find Jobs
      ul.nav.navbar-nav.navbar-right
        if user
          .dropdown
            button.btn.btn-default.dropdown-toggle.navbar-btn(type=' button', data-toggle='dropdown')
              div
                span.glyphicon.glyphicon-user.logo
                span.carretName #{user.name} 
                span.caret  
            ul.dropdown-menu
              li
                a(href='/student/appliedJobs') Applied Jobs
              li
                a(href='/student/favourites') Favourites
              li
                a(href='/student/profile') Profile
              li.divider
              li
                a(href='/student/logout') Log Out

        if employer
          .dropdown
            button.btn.btn-default.dropdown-toggle.navbar-btn(type=' button', data-toggle='dropdown')
              div
                span.glyphicon.glyphicon-briefcase.logo
                span.carretName #{employer.name} 
                span.caret  
            ul.dropdown-menu
              li
                a(href=employer.postedJobs_url) Posted Jobs
              li
                a(href=employer.postJob_url) Post Jobs
              li
                a(href=employer.url) Profile
              li.divider
              li
                a(href='/employer/logout') Log Out     

        if !employer && !user
          li
            a.signup(href='/student/signup/') Sign up as a Student
          li
            a.signup(href='/employer/signup') Sign up as an Employer
          li
            a.student(href='/student/login') Log in as Student
          li
            a.employer(href='/employer/login') Log in as Employer      
