extends Search_Page_Layout

block title
  title Search Page

block Search_Bar
  .Quick_SearchBar
    h2 Quick Search
    input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for Jobs...', title='Type in a name')

block sidebar


block content
    .postedjobs-panel
      h2
       strong Posted Jobs
      br
      each job in job_list
        .job-post
            h3 #{job.name}
            .row
            .col-xs-9
                p
                small Period: #{job.date_start_formatted} - #{job.date_end_formatted}
            .col-xs-3.salary
                p $#{job.remun}/hr
            hr
            p #{job.desc}
            br
            button.btn.btn-primary
                | Apply 
        br