extends Layout_3_Search_Page

block title
  title #{title}
  
block heading
    h2 
        strong.head #{title}
br

block content
    // scroll to top button
    a#goTopBtn(href='#')
        span.icon-chevron-up
        
    form#searchForm(method='POST' action='/searchPage/search')
        .search
            input#searchBar(type='text', placeholder='Search for Jobs...', name='searchPhrase', value=(undefined==searchPhrase ? '' : searchPhrase))
            
            button.btn#submitBtn(type='submit')
                    span.glyphicon.glyphicon-search

            .searchType
                 fieldset.searchType
                        label.control-label Search jobs by: &nbsp; 
                        span.radios
                            div.radio_container.radio-inline
                                input#Job_name(type='radio', name='search_type', value='job', checked=(type == 'job' ? true : (type == undefined ? true : false)))
                                label(for='Job_name')
                                    span.radio Job name
                            div.radio_container.radio-inline
                                input#Employer_name(type='radio', name='search_type', value='employer', checked=(type == 'employer' ? true : false))
                                label(for='Employer_name')
                                    span.radio Employer name
        .filters
            fieldset
                div.filter-titles   
                    label#filterByTitle FILTER BY SKILL TYPE
                hr
                br 
                div
                    label#skillTypeTitle Skill Type: &nbsp;
                    .skillTypeSelect
                        ul.searchbarz
                            li
                                input#all.r(type='radio', name='skill_type', value='all', checked=(skill_type == 'all') ? true : (skill_type == undefined ? true : false))
                                label.radio(for='all') All  
                                div.check(for='all')
                            li
                                input#frontend.r(type='radio', name='skill_type', value='Frontend', checked=(skill_type == 'Frontend' ? true : false))
                                label.radio(for='frontend') Front End   
                                div.check(for='frontend')
                            li
                                input#backend.r(type='radio', name='skill_type', value='Backend', checked=(skill_type == 'Backend' ? true : false))
                                label.radio(for='backend') Back End
                                div.check(for='backend')
                            li
                                input#fullstack.r(type='radio', name='skill_type', value='Fullstack', checked=(skill_type == 'Fullstack' ? true : false))
                                label.radio(for='fullstack') Full Stack
                                div.check(for='fullstack')                                
            br                  
            .form-group
                label#renumTitle FILTER BY RENUMERATION
                hr
                br
                label.control-label#minRemunLabel
                    strong Minimum Remuneration ( $ / hr): 
                    div
                        .renumSelector
                            select.form-control#minRemunSelect(name='remun')
                                - for (var i = 1; i <= 100; i++) {
                                    option(value=i, selected=(remun == i ? true : false)) #{i}
                                - }
                br

            .sortPanel
                .form-group
                    div.filter-titles
                        label#sortByTitle SORT BY
                    hr
                    br
                    select.form-control#sortOptions(name='sortBy')
                        option(value='relevantRes', selected=(sortBy == 'relevantRes' ? true : false)) Relevant Results
                        option(value='recentPosts', selected=(sortBy == 'recentPosts' ? true : false)) Recent Posts
                        option(value='highestRemun', selected=(sortBy == 'highestRemun' ? true : false)) Highest Remuneration           
    .jobposts
        if job_list
            each job in job_list
                .postedjobs-panel
                     .job-post
                        .row
                          .col-xs-9.desc_justify
                            h2.job-name #{job.name} 
                            p
                              small.time-frame 
                                strong Working period: 
                                | #{job.date_start_formatted} - #{job.date_end_formatted}
                            p
                            | #{job.desc}
                          .col-xs-3
                            div.wrapper 
                              div.wrapper_deep $#{job.remun}/hr
                        hr
                        div.row
                            div.col-xs-9
                                p#coyname
                                  strong Company/Project: 
                                  | #{job.name}
                                p#postedon
                                  strong Posted on: 
                                  | #{job.date_posted_formatted}
                            div.col-xs-3.butt
                                div
                                    a(href=job.url).btn.view_more_button 
                                        div.text View More
                        hr
                        .row
                          .col-xs-9
                            div.skill-container
                              div.skill-header Skill type:
                                if(job.skill_type != null)
                                    span.skill_type &nbsp;#{job.skill_type}
                                else
                                    span.skill_type &nbsp; Not specified
                          .col-xs-3
                        br
                    br
        else
            p No posted jobs!