extends Layout_2_Profile_View

block title
    title Profile
    
block navbar
    include navbar

block sidebar
    .student-sidebar
      .user-info
        br
        .ProfileImage
          img#profile-pic(src='/images/man-team.png', alt='profile pic')
        h4.user-name
          strong #{student.name}
        .email
          strong #{student.email}
        label.verify Verified
      ul.nav.nav-pills.nav-stacked
        li.side
          a(href=student.applied_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.app Applied Jobs
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href=student.favourites_url)
            div.miniContainers
              img#star(src='/images/star.png', alt='star') 
              p.favs Favourites
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.active.side
          a(href=student.url)
            div.miniContainers
              img#star(src='/images/profile.png', alt='profile')
              p.prof Profile
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href='/student/logout')
            div.miniContainers
              img#star(src='/images/arrow.png', alt='logout')
              p.Log Log out
              span.glyphicon.glyphicon-chevron-right.pull-right


block content
    .profile-panel
      h2.edit-profile Edit Profile
      .profile-details

        if errors
          each error in errors
            div.alert.alert-danger #{error.msg}

        if success_msg
          div.alert.alert-success #{success_msg}


        .basic-header Basic Information
        img#profile-pic1(src='/images/man1.png', alt='profile pic')
        br

        // upload profile pic
        button.btn.upload-file-btn(type='button')
          | Upload Photo
        br

        form.form-horizontal(method='POST' action='')
          .form-group.row
            label.col-xs-4.control-label(for='fullname') Full Name
            .col-xs-8
              input#fullname.form-control(type='text', name='fullname', value=(undefined==student ? '' : student.name))

          .form-group.row
            label.col-xs-4.control-label(for='email') Email
            .col-xs-8
              input#email.form-control(type='email', value='#{student.email}' disabled)

          .form-group.row
            label.col-xs-4.control-label(for='phoneNum') Mobile Number
            .col-xs-8
              input#phoneNum.form-control(type='text', value= student.phoneNum, name="phoneNum")

          .form-group.row
            label.col-xs-4.control-label(for='gender') Gender
            .col-xs-8.gender
              if (student.gender == 'Male')
                fieldset
                  label.radio-inline(for='male')
                    input#male(type='radio', name='gender', value='Male', checked='checked')
                    |  Male
                  label.radio-inline(for='female')
                    input#female(type='radio', name='gender', value='Female')
                    |  Female
              else 
                fieldset
                  label.radio-inline(for='male')
                    input#male(type='radio', name='gender', value='Male')
                    |  Male
                  label.radio-inline(for='female')
                    input#female(type='radio', name='gender', value='Female', checked='checked')
                    |  Female

          .form-group.row
            label.col-xs-4.control-label(for='dob') Date of Birth
            .col-xs-8
              input#dob.form-control(type='date', value='#{student.date_of_birth_formatted}', name="dob")

          .form-group.row
            label.col-xs-4.control-label(for='aboutme') About Me
            .col-xs-8.bzz
              textarea#aboutme.form-control(rows='5', maxlengths='500', name="aboutme") #{student.aboutme}
              p.brr Max length: 500 words

          input.btn.update_button(type='submit', value='Update Basic Info')
    br
    br
    .skill-panel
      .skill-details
        .basic-header-1 Skills
        br
        div
          p.skill1 JavaScript
          p.skill2 Expressjs
          p.skill3 Java
        br
        button.btn.btn-primary.btn-block.add-skills-btn(type='button', data-toggle='modal', data-target='#add-skills') Add Skills
        // add skills modal
        #add-skills.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') 
                h4.modal-title Add Skills
              .modal-body
                p Select a skill
                // should think of better selections and categorization for selection
                form
                  select#select-skills
                    option(value='javascript')
                      | Javascript
                    option(value='java')
                      | Java
                    option(value='python')
                      | Python
                    option(value='HTML')
                      | HTML
                  br
                  br
                  button.btn.btn-primary.btn-sm.btn-block(type='submit') Add
        br
        h3 Experience
        br
        .experience-list.panel-group
          .experience.panel.panel-default
            .panel-heading
              | Web Developer Freelance @ ABC
              button#delete-btn(type='button', data-toggle='tooltip', title='Remove this experience', data-placement='bottom')
                span.glyphicon.glyphicon-trash
            .panel-body
              p
                | Worked with senior developers to manage large, complex design for corporate clients.
          .experience.panel.panel-default
            .panel-heading
              | Assistant Web Developer @ XYZ
              button#delete-btn(type='button', data-toggle='tooltip', title='Remove this experience', data-placement='bottom')
                span.glyphicon.glyphicon-trash
            .panel-body
              p Managed websites and design/creation for clients.
        br
        button.btn.btn-primary.btn-block.add-skills-btn(type='button', data-toggle='modal', data-target='#add-experience') Add Experience
        // add skills modal
        #add-experience.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Add Experience
              .modal-body
                form
                  .form-group
                    label.control-label(for='exp-heading') Heading
                    input#exp-heading.form-control(type='text')
                    br
                    label.control-label(for='exp-body') Description
                    textarea#exp-body.form-control(rows='10', maxlength='500')
                  button.btn.btn-primary.btn-block(type='submit') Add