extends Layout_2_Profile_View

block title
	title #{student.name}'s Profile

block navbar
	include navbar_employer
	

block sidebar
	div.student_profile_sidebar
		div.header
			label Interested?
		div.email_applicant
			button.email_button Email Applicant
		div.contact_request
			button.contact_button Request Contact number
	
block content
	.student_profile_info
		br
		h2.profile_information Profile Information
		br
		.profile-image
			img#profile_pic(src='/images/man-team.png', alt='profile pic')
		br
		form.information
			.form-group.row
				label.col-xs-5 Full name:
				.col-xs-7.student_name.student_info #{student.name}
			.form-group.row
				label.col-xs-5 Email:
				.col-xs-7.student_email.student_info #{student.email}
			.form-group.row
				label.col-xs-5 Gender:
				.col-xs-7.student_gender.student_info Male
			.form-group.row
				label.col-xs-5 About me:
				.col-xs-7.student_email.student_info #{student.aboutme}
		br

	br
	div.student_profile_skills   
		.row
			label.col-xs-4 Specialty:
			.col-xs-8.student_email
				strong #{student.focusarea}
		.row
			label.col-xs-4 What I am comfortable with:
			.col-xs-8.student_email
				strong #{student.moreskills}