extends Layout_2_Profile_View

block title
    title Profile

block sidebar
    .student-sidebar
      .user-info
        br
        .ProfileImage
          if (image)
            img#profile-pic1(src='/uploads/#{image.file_name}', alt='profile pic')
          else 
            img#profile-pic1(src='/images/man-team.png', alt='profile pic') 
        h4.user-name
          strong #{student.name}
        .email
          strong #{student.email}
          br
          br
      ul.nav.nav-pills.nav-stacked.student_sidebar
        li.side
          a(href=student.applied_url)
            div.miniContainers
              img#star(src='/images/applied.png', alt='applied') 
              p.app Applied Jobs
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href=student.favourites_url)
            div.miniContainers
              img#star(src='/images/star.png', alt='star') 
              p.favs Favourites
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.active
          a(href=student.url)
            div.miniContainers
              img#star(src='/images/profile.png', alt='profile')
              p.prof Profile
              span.glyphicon.glyphicon-chevron-right.pull-right
        li.side
          a(href='/logout_student')
            div.miniContainers
              img#star(src='/images/arrow.png', alt='logout')
              p.Log Log out
              span.glyphicon.glyphicon-chevron-right.pull-right


block content
    .profile-panel
      h2.edit-profile Edit Profile
      .profile-details
        if (err_update)
          for error in err_update
            .error_wrapper1
              .alert.alert-danger #{error.msg} 
        if (status)
          div.alert.alert-success Your profile has been successfully updated!
        br
        .basic-header Basic Information
        if (image)
          img#profile-pic1(src='/uploads/#{image.file_name}', alt='profile pic')
        else 
          img#profile-pic1(src='/images/man-team.png', alt='profile pic') 
        br
        br

        form.form-horizontal(method='POST' action='' enctype='multipart/form-data')
          .form-group.row
            label.col-xs-4.control-label(for='filename') Upload Profile picture
            .col-xs-8.bzz
              span.filename_box
                input.profile_upload(type='file' name='filename')
                p.filename_text please upload a square photo to prevent stretching!              
          .form-group.row
            label.col-xs-4.control-label(for='fullname') Full Name
            .col-xs-8
              input#fullname.form-control(type='text', name='fullname', value=(undefined==student ? '' : student.name))

          .form-group.row
            label.col-xs-4.control-label(for='email') Email
            .col-xs-8
              input#email.form-control(type='email', value='#{student.email}' disabled)

          .form-group.row
            label.col-xs-4.control-label(for='phoneNum') Mobile Number
            .col-xs-8
              input#phoneNum.form-control(type='text', value= student.phoneNum, name="phoneNum")

          .form-group.row
            label.col-xs-4.control-label(for='gender') Gender
            .col-xs-8.gender
              if (student.gender == 'Male')
                fieldset
                  label.radio-inline(for='male')
                    input#male(type='radio', name='gender', value='Male', checked='checked')
                    |  Male
                  label.radio-inline(for='female')
                    input#female(type='radio', name='gender', value='Female')
                    |  Female
              else 
                fieldset
                  label.radio-inline(for='male')
                    input#male(type='radio', name='gender', value='Male')
                    |  Male
                  label.radio-inline(for='female')
                    input#female(type='radio', name='gender', value='Female', checked='checked')
                    |  Female

          .form-group.row
            label.col-xs-4.control-label(for='dob') Date of Birth
            .col-xs-8
              input#dob.form-control(type='date', value='#{student.date_of_birth_formatted}', name="dob")

          .form-group.row
            label.col-xs-4.control-label(for='aboutme') About Me
            .col-xs-8.bzz
              textarea#aboutme.form-control(rows='5', maxlengths='500', name="aboutme") #{student.aboutme}
              p.brr Max length: 500 words

          br         
          input.btn.update_button(type='submit', value='Update Basic Info')
          br
          br
          br
    br
    .experience-panel
      h2.edit-profile Experience
      .experience-list
        if expList
          each exp in expList
            br
            .experience
              .exp-header
                  p.title-header #{exp.title}   
                  form.delete-icon(method="POST" action="delete_exp")
                    input#hiddenField(type='hidden', value='#{exp._id}', name="hiddenField")
                    button#delete-btn(type='submit', title='Remove this experience', data-placement='bottom')
                      span.glyphicon.glyphicon-trash 
              .exp-body
                p #{exp.desc}
        br       
        if errors
          each error in errors
            .error_wrapper
              .alert.alert-danger.error_width #{error.msg}    
        br
        button.btn.add_button(type='button', data-toggle='modal', data-target='#add-experience') Add Experience
        br
        // add skills modal
        #add-experience.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                h4.modal-title Add Experience
              .modal-body
                form(method="POST" action="add_experience")
                  .form-group.experience_add
                    label.control-label(for='exp_heading') Heading
                    input#exp_heading.form-control(type='text' placeholder="Please specify Type (i.e. Frontend, Backend, Fullstack)", name="exp_heading")
                    label.control-label(for='exp_body') Description
                    textarea#exp_body.form-control(rows='10', maxlength='500' placeholder="Give a description of what the job required you to do...", name="exp_body")
                  input.btn.add_button(type='submit', value='Add')
          br      
        br